<form action="<%= user_url(@user) %>" method="POST">
<input type="hidden" name="_method" method="PATCH">

<h1>Edit User</h1>

<br>
    <label>Username:
        <input id="username" name="user[username]" value="<%= @user.username %>">
    </label>

    <br>

    <input type="submit" value="Submit">
</form>